body {
    background: #f7f7f7;
    color: #333333;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
}
section, header {
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 5rem;
}

header h1, h2, blockquote {
    font-family: "Merriweather", serif;
    color: #0a0767;
}

header h1 {
    font-size: 7.451rem;
    line-height: 1;
     color: #1f1f43;
     margin: 5rem 0 1rem 0;
}

h2 {
    font-size: 1.953rem;
}
header h2 {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
    color: #333333;
    font-style: oblique;
    margin-bottom: 4rem;
}

p{
    line-height: 1.6;
}

header p {
    font-size: 1.562rem;
    font-family: "Merriweather", serif;
    color: #302856;
}
blockquote{
margin: 4rem 0 2rem 0;
 }

blockquote {
    line-height: 1.6;
    font-style: oblique;
    font-size: 1.562rem;
    hanging-punctuation: first;
    text-indent: -0.6rem;
}

/*-- Styling links --*/
a {
    color:#23427c;
    text-decoration: none;
    border-bottom: 2px dotted;
    font-weight: 600;
}
a:hover { color:#c78ed4}

/*-- navigation --*/
.responsivenav {
    background: #8387bd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
   font-size: 2rem; 
   color: #f7f7f7;
   font-family: 'Merriweather', serif;
   font-weight: 600;
   padding-left: 35px;
}

nav {
    display: flex;
    padding: 1.5rem 0;
}

nav ul {
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style-type: none;
    padding-right: 70px;
}
nav ul li {
    display: inline;
    margin: 5px;
}
nav a {
    border-bottom: none;
    color: #f7f7f7;
    padding: 10px;
}
nav a:hover {
    color: #758cb1;
    transition: all 0.3s ease-in-out;
}

.gridimage {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/*-- Styling the footer --*/

footer {
    background: #333333;
    color: #f7f7f7;
    text-align: center;
    font-size: 0.8rem;
    padding: 4rem 0;
}

.light {
    background: #a8b5de;
    padding: 3rem 0;
}

footer a {
    color: #fbd681;
}

footer a:hover {
    color: #f7f7f7;
}